[Unit]
Description=Blink LED
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/sel/Documentos/SEL0337_Felipe_Gian/Pratica8_py.py
#ExecStop=
user=sel

[Install]
WantedBy=multi-user.target
